<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <text>We are authorizing the user ...</text>
                @*@InitializeFunc()*@
            </Authorizing>
            <NotAuthorized>
                <p>You are not authorized</p>
                @if (true)
                {
                    _navMgr.NavigateTo("/login");
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <p role="alert" class="alert-danger">Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code{
    
    //<p>New Shipment Added at Your location</p><MudButton Variant={"Variant.Filled"} StartIcon={"@Icons.Material.Filled.List"} Color={"Color.Info"} Size={"Size.Small"} Href={"/driverGetNotification"}>Goto available list</MudButton>
}
