<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <text>We are authorizing the user ...</text>
            </Authorizing>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert" class="alert-danger">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code{
    [Inject] ISnackbar Snackbar { get; set; }
    protected override async Task OnInitializedAsync()
    {
        HubConnection hub = socket.GetHubConnection();
        if (hub == null)
        {
            await socket.Connect();
        }
        hub = socket.GetHubConnection();
        //Console.WriteLine("helo from hub var" + hub);

        hub.On("UserConnected", () =>
        {
            Console.WriteLine("user fxn");
        });
        hub.On("refresh", () =>
        {
            Snackbar.Clear();
            var body = 
            Snackbar.Add($"<p>New Shipment Added at Your location</p>", Severity.Success, config =>
            {
                config.Icon = Icons.Material.Filled.DeliveryDining;
                config.IconColor = Color.Warning;
                config.IconSize = Size.Large;
                config.Action = "Go To List";
                config.ActionColor = Color.Primary;
                config.Onclick = snackbar =>
                {
                    _navMgr.NavigateTo("/driverGetNotification");
                    return Task.CompletedTask;
                };
            });
            //_navMgr.NavigateTo("/driverGetNotification");
            Console.WriteLine("refresh fxn");
        });
    }

    //<p>New Shipment Added at Your location</p><MudButton Variant={"Variant.Filled"} StartIcon={"@Icons.Material.Filled.List"} Color={"Color.Info"} Size={"Size.Small"} Href={"/driverGetNotification"}>Goto available list</MudButton>
}
