@page "/getDriverShipments"

@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "deliveryBoy,admin")]
<PageTitle>Shipment App</PageTitle>

<style>
    .isactivetrue {
        background-color: lightgreen !important;
    }
    .isactivefalse{
        background-color: white !important;
    }
</style>

<AuthorizeView>
    <Authorized Context="Auth">
        <div class="row">
            <div>
                <h3>Shipment History</h3>
                @*<input type="text" class="form-control" placeholder="search by name" @bind="searchString" @bind:event="oninput" @onkeyup="async ()=>await Search()" />*@
               @* <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>shipmentId</th>
                            <th>Product Type</th>
                            <th>Container Type</th>
                            <th>Shipment Weight</th>
                            <th>Is Accepted</th>
                            <th>Is Active</th>
                            <th>Available Location</th>
                            <th>Next Location</th>
                        </tr>
                    </thead>
                    @if (shipments != null && shipments.Count > 0)
                    {
                        @foreach (var shipment in shipments)
                        {
                            <tbody>
                                <tr>
                                    <td>@(sno++)</td>
                                    <td>@shipment.shipmentId</td>
                                    <td>@shipment.productType</td>
                                    <td>@shipment.containerType</td>
                                    <td>@shipment.shipmentWeight</td>
                                    <td>@shipment.isAccepted</td>
                                    <td>@shipment.isActive</td>
                                    <td>@shipment.checkpoint1Id</td>
                                    <td>@shipment.checkpoint2Id</td>
                                    
                                </tr>
                            </tbody>
                        }
                    }
                    else
                    {
                        <p><em>No Record found</em></p>
                    }*@
                    <MudTable Loading="@loading" Items="@shipments" Hover="true">
                    <HeaderContent>
                            <MudTh>ShipmentId</MudTh>
                            <MudTh>Product Type</MudTh>
                            <MudTh>Container Type</MudTh>
                            <MudTh>Weight</MudTh>
                            <MudTh>Available At</MudTh>
                            <MudTh>Next Location</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="ShipmentId" Class="@((context.isActive? "isactivetrue" : "isactivefalse"))">@context.shipmentId</MudTd>
                        <MudTd DataLabel="Product Type" Class="@((context.isActive? "isactivetrue" : "isactivefalse"))">@context.productType</MudTd>
                        <MudTd DataLabel="Container Type" Class="@((context.isActive? "isactivetrue" : "isactivefalse"))">@context.containerType</MudTd>
                        <MudTd DataLabel="Weight" Class="@((context.isActive? "isactivetrue" : "isactivefalse"))">@context.shipmentWeight</MudTd>
                        <MudTd DataLabel="Available At" Class="@((context.isActive? "isactivetrue" : "isactivefalse"))">@context.checkpoint1Id</MudTd>
                        <MudTd DataLabel="Next Location" Class="@((context.isActive? "isactivetrue" : "isactivefalse"))">@context.checkpoint2Id</MudTd>
                    </RowTemplate>
                </MudTable>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized</p>
        @if (true)
        {
            _navMgr.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>


@code {
    List<AvailableShipmentsDriver> shipments = new();

    private bool loading = true;
    [Inject] ISnackbar Snackbar { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await GetShipmentsTypesList();
        //StateHasChanged();
    }



    async Task GetShipmentsTypesList()
    {
        try
        {
            //GetYourselfResponse temp = await _apiService.GetYourself();
            //Guid tempId = temp.data.userId;
            shipments = await _apiService.GetShipmentHistoryDriver();
            shipments = shipments.OrderByDescending(s => s.isActive).ToList();
            loading = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            //AlertService.Error(ex.Message);
            StateHasChanged();
        }
    }
}
